:root {

}

html, body {
	margin: 0;
	padding: 0;

    background-color: rgb(30, 30, 30);

    color: rgb(220, 220, 220);

    font-size: 13pt;
    font-weight: 400;
    font-family: open sans,sans-serif;
}

a {
    color: rgb(200, 200, 200);
}

.underline {
    text-decoration: underline;
}

.square_round_img {
    display: block;

    border-radius: 50%;

    object-fit: cover;
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat;
    background-color: #bdbdbd;
}

.parallax { 
	height: 40vh;

	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.parallax.paral1 { background-image: url(../images/outside/3.png); height: calc(100vh - 70px); }
.parallax.paral2 { background-image: url(../images/outside/6.png); }
.parallax.paral3 { background-image: url(../images/outside/6.png); height: 15vh; }
.parallax.paral4 { background-image: url(../images/outside/2.png); }
.parallax.paral5 { background-image: url(../images/outside/2.png); height: 15vh; }
.parallax.paral6 { background-image: url(../images/outside/4.png); }
.parallax.paral7 { background-image: url(../images/outside/4.png); height: 15vh; }

.paral1 > .logo {
    position: absolute;
    bottom: calc(24px + 70px);
    
    width: 100%;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
}

.paral1 > .logo > div {
    padding: 8px;

    margin-top: auto;
    margin-bottom: auto;
}

.paral1 > .logo > .img > img {
    max-width: 160px;
    height: auto;
}

.paral1 > .logo > .text > .title {
    font-size: 3em;
    font-weight: bold;
}

.paral1 > .logo > .text > .description {
    font-size: 1.35em;
    color: rgb(200, 200, 200);
}

.navbar {
    top: -1px;

    position: sticky;
    z-index: 10;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;

    width: 100%;
    height: 70px;

    padding: 0;
	margin: 0;

    background-color: rgb(50, 50, 50);

    text-align: center;
}

.navbar div {
    margin-top: auto;
    margin-bottom: auto;
}

@media screen and (max-width: 930px) {
    .navbar div {
        display: none;
    }
}

.navbar > .title {
    flex: 1;

    opacity: 0;

    font-size: 2em;
    font-weight: bold;

    transition: 0.4s;
}

.navbar > .title > div {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
}

.navbar > .title > div > div {
    margin-top: auto;
    margin-bottom: auto;
}

.navbar > .title > div > .text {
    margin-left: 8px;
}

.navbar > .title > div > div > img {
    max-width: 50px;
}

.navbar.isSticky > .title {
    opacity: 1;
}

.navbar > .tabs {
    flex: 3;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
}

.navbar > .tabs > div > .button {
    margin: 8px;
    padding: 8px;

    cursor: pointer;
}

.navbar > .languages {
    flex: 1;
}

.container {
	padding: 5vh 8px;
	margin: 0;
}

.container > .title {
    margin-bottom: 5vh;

	font-size: 2.0em;
    text-align: center;
}

.apartmentsTab > .main {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
}

.apartmentsTab > .main > .card {
    width: 300px;

    background-color: rgb(50, 50, 50);

    cursor: pointer;
}

.apartmentsTab > .main > .card.card1 {
    margin-right: 4px;
}

.apartmentsTab > .main > .card.card2 {
    margin-left: 4px;
}

.apartmentsTab > .main > .card > .img {
    display: block;
    overflow: hidden;
}

.apartmentsTab > .main > .card > .img > img {
    display: block;

    width: 100%;
    height: 180px;
    
    object-fit: cover;

    transform: scale(1);

    transition: 0.4s;
}

.apartmentsTab > .main > .card:hover > .img > img {
    transform: scale(1.05);
}

.apartmentsTab > .main > .card > .text {
    padding: 16px 8px 24px 8px;

    text-align: center;
}

.apartmentsTab > .main > .card > .text > .title {
    font-size: 1.2em;
}

.apartmentsTab > .main > .card > .text > .description {
    color: rgb(190, 190, 190);
}

.featuresTab > .main > .important > div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: baseline;

    font-size: 1.2em;

    text-align: center;

    margin: 8px;
}

.featuresTab > .main > .important > div > div {
    flex: 1;

    margin: 8px 12px;
}

.featuresTab > .main > .important > div > div > i {
    font-size: 2.8em;
}

.featuresTab > .main > .important > div > div > .text {
    max-width: 8em;
    
    margin: auto;
    margin-top: 16px;
}

.featuresTab > .main > div {
    margin-top: 68px;
}

.featuresTab > .main > div > .button {
    margin: auto;
    padding: 8px;

    width: 40%;

    font-size: 0.9em;
    text-align: center;
    background-color: rgb(50, 50, 50);

    cursor: pointer;
}

.featuresTab > .main > .extra {
    display: none;
}

.featuresTab > .main > .extra > div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;

    margin-top: 32px;
}

.featuresTab > .main > .extra > div > div {
    width: 220px;
}

.featuresTab > .main > .extra > div > div > .title {
    margin: 16px;
    
    font-size: 1.5em;
}

.featuresTab > .main > .extra > div > div > div:not(.title) > i {
    font-size: 0.7em;
}

.featuresTab > .main > .extra > div > div > div:not(.title) {
    color: rgb(180, 180, 180);
}

.imagesTab > .main {
    position: relative;

    margin: auto;

    max-width: 1200px;
    height: calc(80vh - 70px);

    background-color: rgb(50, 50, 50);
}

.imagesTab > .main > .arrow_left, .imagesTab > .main > .arrow_right {
    position: absolute;
    display: block;

    top: 50%;
    transform: translateY(-50%);

    padding: 8px;
    
    background-color: rgba(40, 40, 40, 0.75);
    
    color: rgb(180, 180, 180);
    font-size: 2em;

    cursor: pointer;

    transition: 0.4s;

    z-index: 3;
}

.imagesTab > .main > .arrow_left:hover, .imagesTab > .main > .arrow_right:hover {
    background-color: rgba(30, 30, 30, 0.9);
    color: rgb(220, 220, 220);
}

.imagesTab > .main > .arrow_left {
    left: 0;
    border-radius: 0 3px 3px 0;
}

.imagesTab > .main > .arrow_right {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.imagesTab > .main > .img {
    width: 100%;
    height: 100%;
}

.imagesTab > .main > .img > .real_img {
    width: 100%;
    height: 100%;

    text-align: center;

    z-index: 2;
}

.imagesTab > .main > .img > .real_img > img {
    position: relative;

    width: 100%;
    height: auto;

    max-height: 100%;

    top: 50%;
    transform: translateY(-50%);

    object-fit: contain;

    transition: 0.4s;
}

.imagesTab > .main > .img > .description {
    position: absolute;

    left: 50%;
    transform: translateX(-50%);

    bottom: 16px;
    
    font-size: 1.3em;

    text-align: justify;
}

.mapTab > .map {
    margin: auto;

    max-width: 1200px;
    height: calc(80vh - 70px);
}

.mapTab > .map > iframe {
    width: 100%;
    height: 100%;
}

.descriptionTab > .main {
    margin: auto;

    max-width: 800px;

    text-align: justify;
}

.aboutTab > .main_big > div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;

    max-width: 800px;

    margin: auto;
    margin-top: 8px;
}

.aboutTab > .main_big > div > .img {
    flex: 1;
}

.aboutTab > .main_big > div > .description {
    flex: 4;

    margin-left: 16px;

    text-align: justify;
}

.aboutTab > .main_big > div > .img > img {
    position: relative;
    display: block;
    
    top: 50%;
    transform: translateY(-50%);

    width: 100%;
    height: auto;
}

.aboutTab > .main_big > div > .img.name {
    text-align: center;
    font-size: 1.2em;
}

.aboutTab > .main_big > .down > .description {
    margin-top: 2px;
}

@media screen and (max-width: 830px) {
    .aboutTab > .main_big {
        display: none;
    }

    .aboutTab > .main_small {
        display: block !important;
    }
}

.aboutTab > .main_small {
    display: none;
}

.aboutTab > .main_small > .img {
    margin: auto;

    width: 100%;
    max-width: 224px;
}

.aboutTab > .main_small > .img > img {
    width: 100%;
    height: auto;
}

.aboutTab > .main_small > .img_name {
    margin-top: 4px;

    text-align: center;
    font-size: 1.2em;
}

.aboutTab > .main_small > .description {
    margin-top: 32px;
    
    text-align: justify;
}

.aboutTab > .main_small > .languages {
    margin-top: 32px;
}

.contactTab > .main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.contactTab > .main > div {
    padding: 16px;
}

.contactTab > .main > div > span {
    font-size: 1.05em;
}

.contactTab > .main > div > a {
    font-size: 1.2em;
    font-weight: bold;
}

.footer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;

    padding: 12px;

    background-color: rgb(50, 50, 50);

    font-size: 0.75em;
    color: rgb(180, 180, 180);
    text-align: center;
}

.footer > div {
    padding: 4px;
}
